.hero {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
  text-shadow: 4px 4px 16px #0018;

  @media screen and (max-width: 768px) {
    font-size: 1em;
  }
}

.background {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
