.backgroundParent {
  z-index: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  inset: 0;
  overflow: hidden;

  .background {
    flex-shrink: 0;
    position: relative;
    width: calc(768px + 38vw);
    height: 100%;

    img {
      object-fit: contain;
      object-position: bottom;
    }
  }
}
